@charset "UTF-8";
/* CSS Document */

/* Mobile */
@media screen and (max-width: 700px) and (min-width: 10px){
	
/* Border */
#top, #bottom, #left, #right {
	z-index: 2;
	background: #ffffff;
	}
	#left, #right {
		top: 0;
		bottom: 0;
		width: 20px;
		position: fixed;
	}
	#left { 
		left: 0; 
	}
	#right { 
		right: 0; 
	}
	#top {
		top: 0;
		height: 20px;
		margin-top: -8px;
		}
.main2 {
	width: 80vw;
	margin-top: 40px;
	}
.nav {
	margin-top: -19px;
}
.nav img {
	padding-top: 8px;
	padding-left: 30px;
	width: auto;
	height: 30px;
}
.nav ul {
	padding-right: 55px;
	padding-left: 45px;
}
.nav li {
	background-color: #ffffff;
    float: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.nav li a {
	margin: 0px 0px 0px 0px;
	font-size: 30px;
}
.menu {
display: none;
}
h1 {
	font-size:9vw;
	margin-top: 30px;
}
h2 {
	padding-bottom: 40px;
	font-size: 6vw;
}

  .hamburger {
    cursor: pointer;
	padding-top: 10px;
	padding-right: 35px;
    display: block;
	float: right;
  }
  .line {
    border-bottom: 3px solid #222222;
    width: 28px;
    margin-bottom: 7px;
  }
  .line:last-child {
    margin-bottom: 0;
  }
	.col {  margin: 1% 0% 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 86%; }
}
.cont {
	flex: 1;
  	padding-bottom: 1.5em;
  	padding-right: 3.3em;
	padding-left: 0em;
}
	
.button {
	width: 140px;
	margin-right: auto;
	margin-top: 40px;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 4px;
	border: 3px solid #222222;
	color: #222222;
	transition: all 0.3s linear;
	position:absolute;
	right:0;
	left:0;
}
	
.footer {
	height: 20px;
	font-size: 8px;
	line-height: 17px;
}
	

/* Small Tablets */
@media (min-width: 701px) and (max-width: 869px) {
	
/* Border */
#top, #bottom, #left, #right {
	z-index: 2;
	background: #ffffff;
	}
	#left, #right {
		top: 0;
		bottom: 0;
		width: 40px;
		position: fixed;
	}
	#left { 
		left: 0; 
	}
	#right { 
		right: 0; 
	}
	#top {
		top: 0;
		height: 40px;
		margin-top: -8px;
		}

.nav {
	margin-top: -21px;
}
.nav img {
	padding-top: 2px;
	padding-left: 60px;
	width: 36px;
	height: 38px;
}
.nav ul {
	padding-right: 37px;
}
	.nav li a {
	font-size: 16px;
}
h1 {
	font-size:6.7vw;
}
h2 {
	padding-bottom: 50px;
	font-size: 3.2vw;
}
	.span_1_of_3 { width: 40%; }
.footer {
	font-size: 9px;
	line-height: 20px;
}
	
}
	
/* Small Desktops */
@media (min-width: 870px) and (max-width: 1200px) {
	
/* Border */
#top, #bottom, #left, #right {
	z-index: 2;
	background: #ffffff;
	}
	#left, #right {
		top: 0;
		bottom: 0;
		width: 50px;
		position: fixed;
	}
	#left { 
		left: 0; 
	}
	#right { 
		right: 0; 
	}
	#top {
		top: 0;
		height: 50px;
		margin-top: -8px;
		}

.nav {
	margin-top: -22px;
}
.nav img {
	padding-left: 70px;
}
.nav ul {
	padding-right: 45px;
}
	
h1 {
	font-size:4.8vw;
}
h2 {
	padding-bottom: 50px;
	font-size: 2.3vw;
}
	
.footer {
	line-height: 29px;
}
	
}
