@charset "UTF-8";
/* CSS Document */

/* Mobile */
@media (max-width: 400px) {
	
/* Border */
#top, #bottom, #left, #right {
	z-index: 2;
	background: #ffffff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 25px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 25px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

}

}

/* Small Tablets */
@media (min-width: 401px)and (max-width: 869px) {
	
/* Border */
#top, #bottom, #left, #right {
	z-index: 2;
	background: #ffffff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 35px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 35px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
}

.nav li a {
	margin: 0px 6vw 0px 0vw;
}

}

/* Small Desktops */
@media (min-width: 870px) and (max-width: 1200px) {
	
/* Border */
#top, #bottom, #left, #right {
	z-index: 2;
	background: #ffffff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 50px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 50px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
}

/* Large Desktops */
@media (min-width: 1200px) {

.nav li a {
	margin: 0px 12vw 0px 6vw;
}
	
}